.display-wrapper {
  background: #c3c9e9;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.nav {
  height: 40px;
  background: transparent;
}
.nav-icons {
  color: #b1b1b1;
  transition: 500ms ease-in-out;
}
.nav-icons:hover {
  color: #17B890;
  transform: scale(1.05);
}
NavbarBrand, .initials {
  color: transparent;
  text-shadow: 2px 2px 2px black;
}

.main-name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 50px;
}
.main-heading {
  font-weight: 300;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #000;
}

.return {
  display: inline-block;
  position: absolute;
  position: sticky;
  bottom: 0;
 border: #373f47;
 background: #fff;
}