.display-wrapper {
  background: #010024;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.nav {
  height: 40px;
  background: transparent;
}
.nav-icons {
  color: #FFF;
  transition: 500ms ease-in-out;
}
.nav-icons:hover {
  color: #17B890;
  transform: scale(1.05);
}
NavbarBrand, .initials {
  color: #FFF;
  text-shadow: 2px 2px 2px black;
}