#banner {
    clip-path: polygon(0 0, 100% 0,100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));
}
#seperator-space {
    clip-path: polygon(0 0, 50% 40px, 100% 0, 100% calc(100% - 40px), 50% 100%,  0 calc(100% - 40px));
    margin-top: -50px;
    background: #17B890;
}

.banner-content-wrapper {
    height: 100vh;
    width: auto;
    background-image: url(./images/demoimgone.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-row {
    height: 100%;
}
.home-content-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #17B890;
    background-color: rgba(1, 0, 36, 0.8);
}
.home-content-header > .lastname::before{
    content: '\003C\002F';
    color: #FFF;
}
.home-content-header > .lastname::after{
    content: '\003E';
    color: #FFF;
}
.home-content-header > .firstname::before{
    content: '\003C';
    color: #FFF;
}
.home-content-header > .firstname::after{
    content: '\003E';
    color: #FFF;
}
.home-content-header {
    font-size: 4.8vw;
    font-weight: 400;
    font-family: 'Permanent Marker';
    letter-spacing: .5rem;
    font-style: italic;
}
.home-content-header > .firstname {
    color: #17B890;
}
.home-content-header > .lastname {
    color: #17B890;

}
.home-content-sub {
    font-size: 2.8vw;
    font-family: "Permanent Marker", monospace;
    font-weight: 400;
    letter-spacing: 2.8px;
}
.contact-view-btn {
    border: 1px solid #FFF;
    color: #FFF;
    background: transparent;
    border-radius: 3px;
    transition: 400ms ease-in-out;
}
.banner-icons {
    transition: 400ms ease-in-out;
}
.project-view-btn {
    border: 1px solid #FFF;
    color:#FFF;
    background: transparent;
    border-radius: 3px;
    transition: 400ms ease-in-out;
}
.contact-view-btn:hover {
    border: 1px solid #17B890;
    color: #17B890;
    transform: scale(1.10);
}
.contact-view-btn:hover > .banner-icons{
    color: #17B890;
}
.project-view-btn:hover {
    border: 1px solid #17B890;
    color: #17B890;
    transform: scale(1.10);
}
.project-view-btn:hover > .banner-icons {
    color: #17B890;
}
#about {
    clip-path: polygon(0 0, 100% 0,100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));
}
.project-header-wrapper {
    clip-path: polygon(0 0, 50% 50px,100% 0, 100% 100%, 0 100%);
    margin-top: -40px;
}
.project-content-wrapper {
    clip-path: polygon(0 0, 50% 50px,100% 0, 100% 100%, 0 100%);
    margin-top: -50px;
}
.about-content-wrapper {
    height: 100%;
    width: auto;
    background: #010024;
}
.about-text {
    color: #FFF;
    font-size: max(1.3vw, 12px);
    font-family: 'Arvo', monospace;
}
.tech-header {
    color:#FFF;
    font-family: 'Arvo', monospace;
}
.tech-icons {
    border-radius: 12px;
    color:#17B890;
}
.project-header-wrapper {
    height: 10vh;
    width: auto;
    background: #17B890;
    color: #FFF;
}
.project-content-wrapper {
    height: 100%;
    width: auto;
    background:#010024;
}
.prjctcard.main {
background-image: url(./images/demoimgtwo.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 0;
height: 250px;
width: auto;
border-radius: 5px;
box-shadow: 0px 2px 20px -3px rgba(0,0,0,0.8);
}
.prjct-wrapper {
background: linear-gradient(0deg, rgba(8,45,15, 0.9) 34%, rgba(255,255,255,0.2) 96%);
opacity: 0;
height: 100%;
width: 100%;
margin: 0;
transition: 700ms ease-in-out;
}

.prjctcard.main:hover > .prjct-wrapper, .project-heading {
    opacity: 0.3;
    opacity: 1;
    color: #9DC5BB;
    border-radius: 5px;
    border: 1px solid #17B890;
}
#projects {
    clip-path: polygon(0 0, 100% 0,100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));
}

.resume-content-wrapper {
    height: 100%;
    width: auto;
    background: #010024;
}
.resume-content {
    background-image: url(./images/demoimgtwo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 320px;
    width: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 20px -3px rgba(0,0,0,0.8);
    }
.resume-icons {
    transition: 400ms ease-in-out;
}
.resume-btn {
    border: 1px solid #FFF;
    color: #FFF;
    background: transparent;
    border-radius: 2px;
    transition: 500ms ease-in-out;
}
.resume-btn:hover {
    border: 1px solid #17B890;
    color: #17B890;
    transform: scale(1.05);
}
.resume-btn:hover > .resume-icons {
    color: #17B890;
}

.contact-content-wrapper {
    height: 100%;
    width: auto;
    background:#010024;
}
.contact-header {
    border-radius: 5px;
    color: #FFF;
    background: transparent;
    border: 1px solid #17B890;
    font-family: "Arvo", sans-serif;
    font-size: 2.4vw;
}
.contact-form-wrapper {
    border-top: 0.1px solid;
}
.contact-form-col {
    border-right: 0.1px solid;
}
.contact-form-row {
    height: 115px
}
.contact-card {
    border-top: 0.09px solid;
}
.contact-card-header > span {
font-size: 26px;
color: #FFF;
font-family: "Arvo", sans-serif;
}
.contact-card-header > .contact-sub {
    font-size: 12px;
    color: #17B890;
}
.contactlabel {
    color: #FFF;
    font-family: "Arvo", sans-serif;
}
.form-send-btn {
    border: 1px solid #010024;
    color: #FFF;
    background: transparent;
    border-radius: 2px;
    transition: 400ms ease-in-out;
    font-family: "Arvo", sans-serif;
}
.form-send-btn:hover {
    border: 1px solid #17B890;
    color: #17B890;
    transform: scale(1.05);
}
.form-clr-btn {
    border: 1px solid #010024;
    color: #FFF;
    background: transparent;
    border-radius: 3px;
    transition: 400ms ease-in-out;
    font-family: "Arvo", sans-serif;
}
.form-clr-btn:hover {
    border: 1px solid #b81717;
    color: #b81717;
    transform: scale(1.05);
}
.copyright-text {
    position: relative;
    padding-top: 5%;
    border-top: 0.15px solid;
}